.default-layout-outer-content {
  display: flex;
  justify-content: center;
  background-color: #264653;
  padding: 15px 0;
}

.default-layout-inner-content {
  width: 1000px;
  border-radius: 30px;
  background-color: white;
  min-height: calc(100vh - 30px);
}

@media only screen and (max-width: 1000px) {
  .innerContent {
    width: 100%;
    border-radius: 0px;
  }

  .outerContent {
    padding: 0;
  }
}
